.jumbotron {
    background: #eee;
    margin-top:70px;
    border-radius: 6px !important;
}

.card {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid #008cba;
    min-height: 150px;
    padding: 0px 0px 20px 20px;
}

.card-row {
    margin-bottom:10px;
}